* {
  font-family: 'Source Sans Pro', sans-serif;
}

.app-main {
  background-image: url('/static/frontend/img/fondo.svg');
  background-repeat: repeat;
  height: 'fit-content';
  padding: 0;
}

/* ALL */
.lazy-load-image-loaded {
  min-width: 100%;
}
