.main-menu {
  font-size: large;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}

#nav-top nav {
  background-color: #f2ac29 !important;
}

.main-menu a {
  color: rgb(120, 74, 71);
  margin: auto 12px;
  text-decoration: none;
}

.main-menu a:hover {
  color: rgb(120, 74, 71, 0.5);
  text-decoration: none;
}

#nav-top {
  position: sticky;
  top: 0;
  z-index: 10;
}

.active-custom {
  border-bottom: 2px solid rgb(120, 74, 71);
  font-weight: bolder;
}

.cart {
  min-width: 25px;
  position: relative;
  width: fit-content;
}

.count-cart {
  background: red;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  line-height: 14px;
  min-width: 10px;
  position: absolute;
  top: 0;
  text-align: center;
  right: 0;
}
