.my-login {
  text-align: center;
  border-radius: 10px;
  border: 2px solid #F2AC29;
  padding: 35px 22px;
  height: auto !important;
}

.body-login .card {
  border: none;
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.body-login {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: inherit;
}

.card-login {
  width: 325px;
  height: fit-content;
}