<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">    <title>Jacobo Panadería</title>
    <style>
        * {
            font-family: 'Source Sans Pro', sans-serif;
        }
        html, body, #app {
            height: max-content;
            min-height: 100%;
        }
    </style>
</head>
<body>
    <div id="app"></div>
    {% load static %}
    <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>